{% extends 'base.html.twig' %}

{% block title %}Interior Deco{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="page-title py-4">
            <h2>Conditions générales de ventes</h2>
        </div>
            <h3>Article 1. </h3>

            <p>Sauf dispositions légales impératives contraires, les présentes conditions générales s’appliquent à toutes les activités de la SOCIETE. Les présentes conditions générales, de même que toutes conditions particulières de la SOCIETE, sont réputées acceptées par ses acheteurs et ses fournisseurs, même si elles seraient en contradiction avec leurs propres conditions générales ou particulières. Toutes dérogations aux présentes conditions devront être constatées par écrit et notifiées par une personne habilitée à engager la SOCIETE. </p>

            <h3>Article 2. </h3>

<p>
    Les offres de la SOCIETE sont faites sans engagement. Les commandes ne sont définitives qu’après avoir été confirmées par écrit et signées par une personne habilitée à engager la SOCIETE. La SOCIETE est dégagée de toute responsabilité en cas d’inexécution due à un cas de force majeure, une grève, un lock-out, etc.
</p>

            <h3>Article 3. </h3>

            <p>
                Les délais de livraison sont donnés à titre indicatif. Les marchandises voyagent aux risques et périls de l’acheteur, le transfert des risques opérant dès que la marchandise quitte les entrepôts de la SOCIETE. La SOCIETE se réserve le droit de facturer les marchandises au fur et à mesure des livraisons, même si celles-ci sont partielles.
            </p>

            <h3>Article 4. </h3>

<p>Les marchandises vendues par la SOCIETE sont garanties par le fabricant contre tous défauts de fabrication. La SOCIETE est uniquement responsable des vices cachés sauf si elle démontre le caractère indécelable du vice. La garantie de la SOCIETE cesse si l’acheteur ne lui a pas fait part de ses griefs par lettre recommandée au plus tard dans le mois de la vente. La responsabilité de la SOCIETE est limitée au remplacement de la pièce défectueuse sans qu’elle puisse être tenue à aucun remboursement, indemnité ou dommages et intérêts de quelque nature et pour quelque motif que ce soit. </p>

            <h3>Article 5. </h3>

            <p>
                Sauf convention contraire et écrite, toutes les factures de la SOCIETE sont payables au comptant au domicile de la SOCIETE. Le défaut de paiement d’une facture à l’échéance, rend immédiatement exigibles toutes les sommes dues, quelles que soient les facilités de paiement préalablement accordées. A défaut de paiement à l’échéance d’une fourniture partielle, la SOCIETE se réserve le droit d’annuler le solde de la commande.
            </p>

            <h3>Article 6. </h3>

            <p>
                A défaut de paiement d’une facture à son échéance et sans mise en demeure préalable, le débiteur se reconnaît tenu au paiement d’une indemnité fixée à 15% du montant de la facture dû avec un minimum de 150,00 € et d’un intérêt au taux fixé par la loi du 02.08.2002 relative à la lutte contre les retards de paiements dans les transactions commerciales.
            </p>

            <h3>Article 7. </h3>

<p>
    L’acheteur reconnaît que les biens restent la propriété de la SOCIETE et ce jusqu’au paiement intégral de la facture ainsi que de ses accessoires en cas de non-paiement à la date d’échéance.
</p>
            <h3>Article 8. </h3>

<p>
    L’envoi de la facture reprenant le solde final vaut demande de réception si celle-ci n’a pas été réalisée antérieurement. A défaut de réclamation par lettre recommandée dans les vingt jours à dater de la facturation, les travaux seront considérés comme réceptionnés de manière définitive et sans réserve.
</p>

            <h3>Article 9. </h3>

<p>
    En cas de litige, autre que le recouvrement de factures impayées, les parties s’engagent à préalablement recourir à une médiation en désignant un  médiateur agrée et à participer à deux séances de deux heures minimum aux fins de tenter de trouver une solution amiable.
</p>
            <h3>Article 10. </h3>

            <p>Tous les litiges seront de la compétence exclusive des juridictions de l’arrondissement judiciaire de Bruxelles, même en cas d’appel à garantie ou de pluralité de défendeurs. La SOCIETE se réserve toutefois le droit de citer devant le Juge du siège du ou de l’un des défendeurs. Aucun mode de paiement ou d’exécution n’apportera novation ou dérogation à la présente clause expresse d’attribution exclusive de compétence. Le droit belge sera seul applicable. </p>

        </div>

    </main>
{% endblock %}