{% extends 'base.html.twig' %}

{% block title %}Interior Deco{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="page-title py-4">
            <h2>Politique de confidentialité et cookies</h2>
        </div>

        <h3>Politique de confiendialité</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque ante ac laoreet aliquet. Vivamus a venenatis arcu, non dignissim neque. Nullam ligula odio, porttitor a enim pellentesque, vestibulum dapibus libero. Aenean imperdiet vulputate leo nec sollicitudin. In cursus mattis congue. Etiam posuere tempor commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis, eros id commodo porta, arcu urna blandit nibh, in ultricies tellus elit nec leo. Pellentesque suscipit non urna eget tristique. Cras et diam in tortor malesuada iaculis non a massa. Phasellus facilisis eu ante id finibus. Nullam vitae lectus vel nulla posuere sagittis. Nunc volutpat magna ligula, id pretium nulla convallis et. Nulla ullamcorper ante vel ex ornare feugiat. Etiam suscipit, libero eu aliquet posuere, nunc ante aliquet ligula, semper auctor nunc lorem eget lectus. Curabitur iaculis est eget tincidunt eleifend.

        </p>
        <h4>Lorem ipsum dolor sit amet</h4>
        <p>
            Quisque porta mauris a placerat egestas. In sed dui nec ligula blandit luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean pulvinar sodales justo. Fusce scelerisque risus et risus efficitur bibendum. Vivamus vitae libero et sapien vehicula consectetur vitae ac est. Donec id augue aliquet augue aliquet malesuada eget ut elit. Nunc dapibus mauris ac ipsum tempus, sit amet finibus nunc pellentesque. Nunc euismod, metus vitae pretium consequat, massa neque ultrices elit, in finibus dolor arcu id eros. Pellentesque molestie vel magna sed cursus.


        </p>
        <h4>Integer congue ullamcorper posuere</h4>
        <p>
            Pellentesque commodo erat vitae enim dapibus pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque quam elit, rutrum nec lorem non, ultrices semper ligula. Morbi vel tincidunt nulla. Praesent in faucibus neque. Vivamus tempor nisl et nibh pharetra lobortis. Nam at commodo nibh. Duis a ipsum ac nulla imperdiet aliquet vel sit amet dui. Quisque quis rutrum elit. Aenean eget finibus nulla. Aenean lacus dolor, tincidunt sit amet magna quis, sodales porta mauris. Quisque sit amet odio lobortis, imperdiet leo et, fermentum odio. Suspendisse id enim a ante malesuada porttitor et vel purus.
        </p>

        <h3>Utilisation des cookies</h3>
        <p>Donec sed sem a diam eleifend pharetra. Etiam rutrum lorem non est dignissim tristique. Sed a massa nec velit consectetur molestie vitae non velit. In ut hendrerit mi. Nulla tincidunt nibh sagittis mauris sollicitudin, sit amet malesuada augue faucibus. Maecenas elementum elit non nisl placerat viverra. Aliquam pretium, diam sed accumsan commodo, mi nulla vestibulum nunc, a rhoncus quam tortor quis magna. Praesent velit dui, dignissim a sapien id, laoreet tincidunt sem. Nulla id ullamcorper neque, et vulputate risus. Aliquam fermentum pellentesque enim vitae dictum. Quisque sed vulputate nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        </p>
    </main>
{% endblock %}