<ul >
    {% for category in productCategory %}
        <li>
            <a href="{{ path('category', {slug: category.slug}) }}"> {{ category.name }}
            </a>
        </li>
    {% endfor %}

</ul>